body{
  padding-top:80px;
  word-wrap:break-word;
}
img{
  height: 200px;
}
.hidden{
  display:none;
}

body{
  background: url(img/background.svg)
}

.quest,.rest,.delete{
  background:rgba(0, 0, 0, 0.471);
  color:white;
}

li{
  list-style-type: none;
}
.col-sm-6,.panel{
  border: black 2px solid;
  color:white;
  background:rgba(128, 0, 128, 0.203);
  border-radius: 15px;
}
a:hover{
  color:white;
}

#black{
  background: rgba(0, 0, 0, 0.565);
  color:white;
}